In [4]:
import requests as r
import pandas as pd

dataset = pd.DataFrame()


i = 1
while True:
    print( 'page:{}'. format( i ) )
    url = 'https://jobs.github.com/positions.json?description=python&full_time=true&page={}'
    response = r.request('GET', url)

    if response.json() != []:
        data = response.json()[0]
        df = pd.DataFrame(data, index = [0])

        print(df [['id', 'type']] )

        dataset = pd.concat([dataset,df], axis = 0)

        i = i + 1

page:1

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [13]:
# 2.	Adicione as seguintes informações ao imóvel:
# - Nome da rua
# 'road': '61st Avenue South'

# - Numero do imóvel
# 'house_number': '10012'

# - Nome do bairro
# 'house_number': '10012'

# - Nome da cidade
# 'house_number': '10012'

# - Nome do estado
# 'state': 'Washington'

import pandas as pd

df = pd.read_csv(r"C:\Users\User\datasets\kc_house_data.csv")

from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim( user_agent='geoapiExercises' )

# Selecionando lat e long para informações do local

response = geolocator.reverse( '47.5112,-122.257' )

# Visualização de todos os elementos pelo dicionario
response.raw

# Visualização definindo qual elemento do dicionario

print( response.raw['address']['road'] )
print( response.raw['address']['house_number'] )
print( response.raw['address']['neighbourhood'] )
print( response.raw['address']['city'] )
print( response.raw['address']['county'] )
print( response.raw['address']['state'] )

61st Avenue South
10012
Rainier Beach
Seattle
King County
Washington

In [14]:
import pandas as pd

df = pd.read_csv(r"C:\Users\User\datasets\kc_house_data.csv")

# Criando linhas vazias para add no dataframe

df['road'] = 'NA'
df['house_number'] = 'NA'
df['city'] = 'NA'
df['county'] = 'NA'
df['state'] = 'NA'

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,road,house_number,city,county,state
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,98178,47.5112,-122.257,1340,5650,NA,NA,NA,NA,NA
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,98125,47.7210,-122.319,1690,7639,NA,NA,NA,NA,NA
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,98028,47.7379,-122.233,2720,8062,NA,NA,NA,NA,NA
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,98136,47.5208,-122.393,1360,5000,NA,NA,NA,NA,NA
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,98074,47.6168,-122.045,1800,7503,NA,NA,NA,NA,NA